<div class="card mx-auto" style="width: 25rem;margin-top: 20px;">
  <div class="card-header">
    <b>Αναστάσιο Τουτουντζής</b>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Τηλέφωνο επικοινωνίας: 6948199522</li>
    <li class="list-group-item">Email: an_toutountzis@hotmail.co.uk</li>
    <li class="list-group-item"><img src="../../assets/linkedin.png" style="width:42px;height:42px;" />
      <a href="https://www.linkedin.com/in/tasos-toutountzis/" style="margin-left: 5px;" >Tasos Toutountzis</a></li>
  </ul>
</div>
